@font-face {
  font-family: "Mondwest";
  font-weight: 700;
  font-style: italic;
  src: url(/font/PPMondwest-Regular.otf);
}


body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 163, 255, 1) 100%);
}